<%= form_for @guest  do |f| %>
<% unless @guest.errors.full_messages.blank? %>
<div class="alert alert-error">
	<%= @guest.errors.full_messages.first %> <i class='icon-off'></i>
</div>
<%end%>
<%= f.text_field :name ,:size => 50,:placeholder => 'Name' %>

<%= f.phone_field :cell_num ,:placeholder => 'Mobile No '%></br>
<%= f.text_field :email_id ,:size => 50,:placeholder => 'Email' %> </br>

<label class="radio inline">
	<%= f.radio_button :sex, "male" %> Male
</label>
<label class="radio inline">
  <%= f.radio_button :sex, "female"  %> Female
</label>

<label class="checkbox">
	<%= f.check_box :attending%> Attending ?
</label>

<%= recaptcha_tags :public_key => AUTH_CONFIG['recaptcha']['public_key'] %> <br>
<%= f.submit 'Register',:class => 'btn btn-warning'%> 
<i id="example"  style="cursor: hand; cursor: pointer;"" rel="popover" data-content="We Highly recommend you to use Firefox or Chrome. " data-original-title="Browser Issues ?"class='icon-info-sign'></i>
<% end %>
<script type="text/javascript">
$('#example').popover();

</script>