<%= form_for @guest  do |f| %>
<% unless @guest.errors.full_messages.blank? %>
<div class="alert alert-error">
	<%= @guest.errors.full_messages.first %> <i class='icon-off'></i>
</div>
<%end%>

<div class="input-prepend input-append">
	<span class="add-on">N</span>
	<%= f.text_field :name ,:size => 40,:placeholder => 'Name' %>
</div>

<div class="input-prepend input-append">
	<span class="add-on"><i class='icon-signal'></i></span>
	<%= f.phone_field :cell_num ,:placeholder => 'Mobile No '%>
</div>
<div class="input-prepend input-append">
	<span class="add-on">@</span>
	<%= f.text_field :email_id ,:size => 40,:placeholder => 'Email' %> 
</div>

<label class="radio inline">
	<%= f.radio_button :sex, "male" %> Male
</label>
<label class="radio inline">
	<%= f.radio_button :sex, "female"  %> Female
</label>

<label class="checkbox">
	<%= f.check_box :attending%> Attending ?
</label>

<%= recaptcha_tags :public_key => AUTH_CONFIG['recaptcha']['public_key'] %> <br>
<%= f.submit 'Register',:class => 'btn btn-warning'%> 
<i id="example"  style="cursor: hand; cursor: pointer;"" rel="popover" data-content="We Highly recommend you to use Firefox or Chrome. " data-original-title="Browser Issues ?"class='icon-info-sign'></i>
<% end %>
<script type="text/javascript">
	$('#example').popover();

</script>