<%= form_for @guest  do |f| %>
   <% unless @guest.errors.full_messages.blank? %>
   <div class="alert alert-error">
    <%= @guest.errors.full_messages %>
    </div>
    <%end%>
    <%= f.text_field :name ,:size => 50,:placeholder => 'Name'%> </br>
 
    <%= f.phone_field :cell_num ,:size => 50,:placeholder => 'Mobile No'%></br>
    
    <label class="checkbox">
     <%= f.check_box :attending%>Check me out
    </label>
 
    <%= f.submit 'Register',:class => 'btn'%>
<% end %>

