<%= form_for @guest  do |f| %>
<% unless @guest.errors.full_messages.blank? %>
<div class="alert alert-error">
	<%= formatted_message @guest.errors.full_messages %> <i class='icon-off'></i>
</div>
<%end%>
<%= f.text_field :name ,:size => 50,:placeholder => 'Name'%> </br>

<%= f.phone_field :cell_num , :pattern=>"[0-9]{10}", :title=>'Phone Number 10 Digit',:placeholder => 'Mobile No'%></br>

<label class="Radio">
	<%= f.radio_button :sex, "male"  %> Male
	<%= f.radio_button :sex, "female"  %> Female
</label>

<label class="checkbox">
	<%= f.check_box :attending%> Attending ?
</label>

<%= f.submit 'Register',:class => 'btn btn-warning'%>
<% end %>

