<%= form_for @guest  do |f| %>
<% unless @guest.errors.full_messages.blank? %>
<div class="alert alert-error">
	<%= @guest.errors.full_messages.first %> <i class='icon-off'></i>
</div>
<%end%>
<%= f.text_field :name ,:size => 50,:placeholder => 'Name' %> </br>

<%= f.phone_field :cell_num ,:placeholder => 'Mobile No '%></br>
<%= f.text_field :email_id ,:size => 50,:placeholder => 'Email' %> </br>

<label class="radio inline">
	<%= f.radio_button :sex, "male" %> Male
</label>
<label class="radio inline">
  <%= f.radio_button :sex, "female"  %> Female
</label>

<label class="checkbox">
	<%= f.check_box :attending%> Attending ?
</label>

<%= f.submit 'Register',:class => 'btn btn-warning'%>
<% end %>

