<h1> Our Guest List <i class='icon-star'></i></h1>
<table class="table table-hover">
  <% for guest_arr in @guests %>
  <tr>
    <td> <%= image_tag image(guest_arr[0]) ,class: 'img-polaroid' %></td>
    <td> <%= image_tag image(guest_arr[1]), class: 'img-polaroid' %></td>
    <td> <%= image_tag image(guest_arr[2]) ,class: 'img-polaroid' %></td>
    <td> <%= image_tag image(guest_arr[3]),class: 'img-polaroid' %></td>
  </tr>
  <tr>
    <td> <strong><%= guest_arr[0] ? formatted_guest_list(guest_arr[0][0]) : 'It can be you!!' %><i class='icon-ok'></i></strong></td>
    <td> <strong><%= guest_arr[1] ? formatted_guest_list(guest_arr[1][0]) : 'It can be you!!'%><i class='icon-ok'></i></strong></td>
    <td> <strong><%= guest_arr[2] ? formatted_guest_list(guest_arr[2][0]) : 'It can be you!!'%><i class='icon-ok'></i></strong></td>
    <td> <strong><%= guest_arr[3] ? formatted_guest_list(guest_arr[3][0]) : 'It can be you!!'%><i class='icon-ok'></i></td>
  </tr>
  <% end %>
</table>