<!--  Carousel - consult the Twitter Bootstrap docs at 
  http://twitter.github.com/bootstrap/javascript.html#carousel -->
  <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
    <div class="carousel-inner">
      <div class="item active"><!-- class of active since it's the first item -->
        <%= image_tag 'site_img1.jpg' %>
      </div>
      <div class="item">
       <%= image_tag 'site_img2.jpg' %>
       <div class="carousel-caption">
        <p class="lead">Rhythm of voice !</p>
        <p>
         <small>Clear up your vocal chords to mesmerize the audience with your melodious voice.</small>
    </p>
      </div>
    </div>
    <div class="item">
     <%= image_tag 'site_img3.jpg' %>
     <div class="carousel-caption">
      <p class='lead'>Race with the Beats, a Peacock or a Sheep !</p>
      <p>
         <small>Unleash the hidden dance in you and get ready to rock the dance floor.</small>
    </p>
    </div>
  </div>
  <div class="item">
    <%= image_tag 'site_img4.jpg' %>
    <div class="carousel-caption">
      <p class='lead'>All work and No play makes Jack a dull Boy.</p>
      <p>
         <small>Let's see the kid  challenging kid inside you.</small>
    </p>
    </div>
  </div>
  <div class="item">
    <%= image_tag 'site_img5.jpg' %>
    <div class="carousel-caption">
       <p class='lead'>To know if you are mad enough to be creative !</p>
       <p>
         <small>Put on your acting masks and advertise yourself.</small>
    </p>
    </div>
  </div>
  <div class="item">
    <%= image_tag 'site_img6.jpg' %>
    <div class="carousel-caption">
      <p class='lead'>Showcasing what's 'In' and what's not !</p>
      <p>
         <small>All the Software Geeks.  It's time to rethink your career in Modelling.</small>
    </p>
    </div>
  </div>
  <div class="item">
    <%= image_tag 'site_img7.jpg' %>
    <div class="carousel-caption">
       <p class='lead'>Discover the 'Holmes' in you !</p>
       <p>
         <small>Look for it and win it.. The Ultimate Treasure.</small>
    </p>
    </div>
  </div>
</div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
  href values must reference the id for this carousel -->
  <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
<script type="text/javascript">
$('#this-carousel-id').carousel({
  interval: 3000
})
</script>