<!--  Carousel - consult the Twitter Bootstrap docs at 
  http://twitter.github.com/bootstrap/javascript.html#carousel -->
  <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
    <div class="carousel-inner">
      <div class="item active"><!-- class of active since it's the first item -->
        <%= image_tag 'site_img1.jpg' %>
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </div>
      <div class="item">
       <%= image_tag 'site_img2.jpg' %>
       <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
     <%= image_tag 'site_img3.jpg' %>
     <div class="carousel-caption">
      <p>Caption text here</p>
    </div>
  </div>
  <div class="item">
    <%= image_tag 'site_img4.jpg' %>
    <div class="carousel-caption">
      <p>Caption text here</p>
    </div>
  </div>
  <div class="item">
    <%= image_tag 'site_img5.jpg' %>
    <div class="carousel-caption">
      <p>Caption text here</p>
    </div>
  </div>
  <div class="item">
    <%= image_tag 'site_img6.jpg' %>
    <div class="carousel-caption">
      <p>Caption text here</p>
    </div>
  </div>
  <div class="item">
    <%= image_tag 'site_img7.jpg' %>
    <div class="carousel-caption">
      <p>Caption text here</p>
    </div>
  </div>
</div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
  href values must reference the id for this carousel -->
  <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
<script type="text/javascript">
$('#this-carousel-id').carousel({
  interval: 3000
})
</script>